$brand-primary: #50dab0;
$brand-primary--pale: #a1d9d6;
$brand-primary--accent: #c4fdf8;
$brand-primary--dark: #3a7a7d;

$text-color: #4c4c4c;
$text-color--pale: #aaa29e;
$text-color--accent: #fff;

$time: 0.2s;

$border-color: #f0eeee;