.base-calendar-day {
  position: relative;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
  z-index: 1;
  background-color: $text-color--accent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  text-align: center;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all $time;

  &:hover, &:focus {
    cursor: pointer;
    background-color: $brand-primary--pale;
  }

  &--today {
    border-color: $brand-primary;
    color: $brand-primary;
    font-weight: 600;
  }

  &--is-between {
    background-color: $brand-primary--accent;
    border-radius: 0;
  }

  &--selected {
    background-color: $brand-primary;
    color: $text-color--accent;
    border-radius: 50%;
  }

  &--not-currect {
    opacity: 0.4;
  }
}